<mat-dialog-content>
  <h2 class="title">{{ data.name }}</h2>
  <img
    class="product-details-image"
    src="{{ data.img }}"
    alt="Pizza Sabor {{ data.name }}"
  />
  <p class="subtitle">{{ data.ingredients }}</p>
  <p class="price">
    {{ data.price | currency : "BRL" : "symbol" : "1.2-2" : "pt-BR" }}
  </p>
</mat-dialog-content>

<mat-dialog-actions class="display">
  <button class="dialog-button" mat-button (click)="addPizzaPedido(data.id)">
    Adicionar ao pedido
  </button>
  <button class="dialog-button" mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
