<h2 mat-dialog-title class="txt-center">Formulário de Pedido</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <p>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" name="nome" required="true" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input
          matInput
          formControlName="cep"
          name="cep"
          maxlength="8"
          mask="00000-000"
          (keypress)="numericOnly($event)"
          (ngModelChange)="getEndereco(form.get('cep')?.value)"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Bairro</mat-label>
        <input
          matInput
          formControlName="bairro"
          name="bairro"
          required="true"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Rua</mat-label>
        <input matInput formControlName="rua" name="rua" required="true" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="numero">
        <mat-label>Número</mat-label>
        <input
          matInput
          formControlName="numero"
          name="numero"
          required="true"
        />
      </mat-form-field>

      <mat-form-field class="complemento">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complemento" name="complemento" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Troco para?</mat-label>
        <input matInput formControlName="troco" name="troco" />
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="btn-dialog">
  <button mat-raised-button (click)="concluirPedido()">
    <mat-icon class="color-pink dialog-icon">shopping_cart</mat-icon>
    <span>Concluir</span>
  </button>

  <button mat-raised-button mat-dialog-close>
    <mat-icon class="color-pink dialog-icon">cancel</mat-icon>
    <span class="span-icon">Fechar</span>
  </button>
</mat-dialog-actions>
